.container
  margin-bottom 50px

.loading
  margin-top 50px
  span
    background-color #f7f7f7
    padding 20px 25px

.is__responsive
  .table
    margin-bottom 50px
    .media
      font-weight bold
h1
  font-size 1.2em
  font-weight bold
  text-transform uppercase
  margin 10px 0
