@import '../../../variables.styl';

.login
  background-color $lightest-grey
  margin 0!important
  padding-top 60px
  strong
    color white
  h1
    font-size 2em
.video
  background-color #131D3C
  padding-top 2rem
  .video_container
    position relative
    padding-bottom 54.45%
    padding-top 10px
    height 0
    overflow hidden
    iframe,
    object,
    embed
      position absolute
      top 0
      left 0
      width 100%
      height 100%
  .call
    padding 2rem 3rem 3rem
    h2
      color #ffffff
      font-size 1.6em
      margin-bottom 25px
    p
      font-size 1.2em
      color #ffffff

.steps
  .step
    padding 40px
    color white
    background-color #131D3C
    border 1px solid rgba(133, 196, 64, .3)
    h1
      font-size 3em
      margin-bottom 5px
    h2
      font-size 1.2em
      margin-bottom 5px
      font-weight bold
    a
      margin-top 15px

.summary
  h1
    font-size 1.4em
    font-weight bold
    margin-top 15px
    margin-bottom 15px
  img
    width auto
    height 150px

.introduction
  margin-bottom 15px
  h1
    font-size 2.5em
    font-weight bold
    color #131D3C
    margin-bottom 30px

.dimensions
  margin-top 15px
  margin-bottom 15px
  .dimension
    padding 1.5rem
    &:nth-child(2),
    &:nth-child(4)
      border-right 1px dotted #b7b7b7
    &:nth-child(2),
    &:nth-child(3)
      border-bottom 1px dotted #b7b7b7
    h2
      font-size 1.4em
      font-weight bold
      margin-bottom 20px

.diagnostic,
.plane
  margin-top 30px
  .item
    margin-bottom 20px
    h2
      font-size 1.4em
      font-weight bold
      margin-top 10px
      margin-bottom 10px
    img
      max-height 140px

.access
  margin-top 40px
  a
    padding-left 25px
    padding-right 25px

