@import '../../variables.styl';


.container
  height 70vh

.followup_container
  padding 0 30px
  padding-top 50px

.section
  background none
  padding-left 10px

.highlighted
  font-weight bold

.header__title_stripe
  background-color $primary-color
  width 50%
  height 4px
  margin 20px 0

.header__holder
  float left

.header__holder ~ p
  float left

@media(max-width 700px)
  .header__holder, .header__holder ~ p
    float initial

.remove
  color red
  text-align right;

.form
  padding 0 80px

.form__label
  color #69707a

.form__select
  width 100%

  select
    width 100%
    border-radius 30px
    color #69707a

.form__radio
  input[type='radio']
    outline none
    margin-right 10px

  input:checked:before
      background green !important

.form__submit_button, .button_share
  margin-top 25px

.form__submit_button
  display flex
  justify-content space-between

.field
  margin 20px 0
