.hero
  background-image url(../../../../public/images/home/background.jpg)
  background-repeat no-repeat
  background-position center
  background-size cover
  color white

  strong
    color white

.hero__container
  padding 80px 40px

.hero__tagline
  width 60%

  @media screen and (max-width: 850px)
    width 100%

.hero__title
  font-size 2em
  line-height 1.2em

.hero__subtitle
  text-align justify

.hero__login_call
  font-weight bold
  margin 20px 0

.hero__input, .hero__input:-webkit-autofill
  color white
  font-weight bold
  background-color transparent !important
  border 0
  border-radius 0 !important
  box-shadow none
  border-bottom 1px solid white
  padding-left 32px !important
  padding-bottom 10px
  margin-bottom 10px

  &::-webkit-input-placeholder
    color white

  &::-moz-placeholder
    color white

  &:-ms-input-placeholder
    color white

  &:-moz-placeholder
    color white

.hero__forgot_link
  margin 20px 0

.hero__steps
  background-color rgba(19, 29, 60, 0.95)

  &:last-child
    margin-bottom: 10px

    @media screen and (max-width: 850px)
      margin-right: 0

.hero__steps__step
  padding 20px 40px

.hero__steps__step_number
  font-size 3em

.hero__steps__tagline
  font-size 2em

.hero__steps__step_title
  font-size 1.2em
  font-weight bold
  padding-bottom 10px

.hero__steps__step_final
  display flex
  justify-content space-between
  background-color green
  align-items center

  @media screen and (max-width: 850px)
    display block

.hero__steps__step_final_title
  font-size 1.8em
  font-weight bold
  min-width 180px

  @media screen and (max-width: 850px)
    padding 20px 0

.hero__steps__step_final_title_no_wrap
  white-space nowrap

.control__centered
  display flex
  justify-content space-between

.control__top_space
  margin-top 20px

.form__width
  width 332px

  @media screen and (max-width: 850px)
    width 100%

.stripe
  background-color $green
  height 5px
  width 115px
  margin 20px 0

.orientation__image
  float: right;
  margin-top: 30px;
  margin-right: -20px;

