.inspirated
  min-height: 70vh;
  padding: 50px 20px;
  
  label
    margin-right: 13px;
    line-height:35px;

   checkbox
    margin-right: 3px;

  [class^="ico__Vis"]
    background: url(../../../public/images/icons.png) no-repeat -9px -157px;
    width: 79px;
    height: 79px;
    background-color: #ffdd00;
    display: block; 

  [class^="ico__Inf"]
    background: url(../../../public/images/icons.png) no-repeat -252px -152px; 
    width: 79px;
    height: 79px;
    background-color: #85c440;
    display: block;  

  [class^="ico__Comp"]
    background: url(../../../public/images/icons.png) no-repeat -98px -154px;
    width: 79px;
    height: 79px;
    background-color: #e62270;
    display: block;

  [class^="ico__Cont"]
    background: url(../../../public/images/icons.png) no-repeat -173px -156px;
    width: 79px;
    height: 79px;
    background-color: #00a3da;
    display: block;

  [class^="ico__null"]
    width: 79px;
    height: 79px;
    background-color: #e0dbdb;
    display: block;

  .select__inspirated
    width:100%;

  .box__inspirated    
    background-color: transparent; 
    padding: 40px 0px;
    box-shadow: none; 
    display: block; 

    a.media__inspirated + a.media__inspirated {
        border-top: 1px solid rgba(211, 214, 219, 0.5);
        margin-top: 20px;
        padding-top: 20px;
        display: block;
        color: #222324;
    }     

    a:visited
      color: #222324;

    a
      color: #222324;

.inspirated__image
  height 90px

  @media screen and (max-width: 850px)
    height 100px

.inspirated__buttons
  display flex
  flex-direction column

.inspirated__buttons__button
  min-height 50px
  min-width 300px
  justify-content flex-start
  padding-left 75px
  font-size 0.8rem
  font-weight bold
  margin 10px 0
  text-transform uppercase

  i
    top 12px
    left 25px
    transform scale(0.70)
    transform-origin 0 0