// Icons Sign In Form

.icon-email
  background: url(../../../public/images/icons.png) no-repeat -20px -28px;
  width: 26px;
  height: 18px;
  display: flex;
  position: absolute;
  top: 10px;
  left 5px;
  transform scale(0.80)
  transform-origin 0 0

.icon-email-disabled
  background: url(../../../public/images/icons.png) no-repeat -20px -72px;
  width: 26px;
  height: 18px;
  display: flex;
  position: absolute;
  top: 10px;
  left 5px;
  transform scale(0.80)
  transform-origin 0 0

.icon-password
  background: url(../../../public/images/icons.png) no-repeat -65px -23px;
  width: 17px;
  height: 23px;
  display: flex;
  position: absolute;
  top: 8px;
  left 10px;
  transform scale(0.80)
  transform-origin 0 0

.icon-password-disabled
  background: url(../../../public/images/icons.png) no-repeat -147px -23px;
  width: 17px;
  height: 23px;
  display: flex;
  position: absolute;
  top: 8px;
  left 10px;
  transform scale(0.80)
  transform-origin 0 0

.icon-phone
  background: url(../../../public/images/icons.png) no-repeat -147px -71px;
  width: 21px;
  height: 20px;
  display: flex;

.icon-phone-disabled
  background: url(../../../public/images/icons.png) no-repeat -64px -71px;
  width: 21px;
  height: 20px;
  display: flex;

// Icons Dimensions
.icon-vision
  background: url(../../../public/images/icons.png) no-repeat -24px -180px;
  width: 50px;
  height: 33px;
  display: flex;

.icon-competence
  background: url(../../../public/images/icons.png) no-repeat -112px -168px;
  width: 48px;
  height: 48px;
  display: flex;

.icon-content
  background: url(../../../public/images/icons.png) no-repeat -197px -176px;
  width: 32px;
  height: 38px;
  display: flex;

.icon-infra
  background: url(../../../public/images/icons.png) no-repeat -266px -169px;
  width: 49px;
  height: 40px;
  display: flex;


// Icons Report Page
.icon-survey
  background: url(../../../public/images/icons.png) no-repeat -23px -271px;
  width: 28px;
  height: 34px;
  display: flex;

.icon-print
  background: url(../../../public/images/icons.png) no-repeat -89px -271px;
  width: 36px;
  height: 36px;
  display: flex;

.icon-report
  background: url(../../../public/images/icons.png) no-repeat -163px -269px;
  width: 37px;
  height: 37px;
  display: flex;

.icon-survey-disabled
  background: url(../../../public/images/icons.png) no-repeat -237px -271px;
  width: 29px;
  height: 34px;
  display: flex;

.icon-print-disabled
  background: url(../../../public/images/icons.png) no-repeat -304px -271px;
  width: 36px;
  height: 36px;
  display: flex;

.icon-report-disabled
  background: url(../../../public/images/icons.png) no-repeat -378px -269px;
  width: 37px;
  height: 37px;
  display: flex;


.icon-item-1
  background: url(../../../public/images/icons.png) no-repeat -196px -8px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-2
  background: url(../../../public/images/icons.png) no-repeat -279px -8px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-3
  background: url(../../../public/images/icons.png) no-repeat -359px -8px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-4
  background: url(../../../public/images/icons.png) no-repeat -201px -86px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-5
  background: url(../../../public/images/icons.png) no-repeat -283px -86px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-6
  background: url(../../../public/images/icons.png) no-repeat -359px -86px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-7
  background: url(../../../public/images/icons.png) no-repeat -359px -165px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-8
  background: url(../../../public/images/icons.png) no-repeat -439px -8px;
  width: 66px;
  height: 66px;
  display: flex;

.icon-item-dynamic
  background url(../../../public/images/icons.png) no-repeat -439px -86px
  width 66px
  height 66px
  display flex
  &:after
    position absolute
    content attr(data-number)
    font-size 33px
    font-style normal
    font-weight 100
    top 6px
    left calc(50% - 10px)

.icon-remove
  background: url(../../../public/images/icons.png) no-repeat -24px -114px;
  width: 30px;
  height: 38px;
  display: flex;

.icon-remove-red
  background: url(../../../public/images/icons.png) no-repeat -62px -126px;
  width: 17px;
  height: 21px;
  display: flex;



