@import '../../../variables.styl';

.login
  .login__section
    padding 2rem 1rem
    h1
      strong
        font-size 1.2em
        color #131D3C
      color #131D3C
      font-size 2.2em
    .icon
      margin-bottom 10px
      img
        width auto
        height 50px
  .call
    background-color rgba(19, 29, 60, .1)
    padding 3rem
    h2
      font-size 2.2em
      margin-bottom 25px
    p
      font-size 1.2em
.steps
  .step
    padding 10px 30px 30px
    color white
    background-color $secondary-color
    // border 1px solid rgba(133, 196, 64, .3)
    &.step__green
      background-color $primary-color
    h1
      font-size 2.7em
    h2
      font-size 1.2em
      margin-bottom 5px
      font-weight bold
    a
      margin-top 15px
.four_dimensions
  margin-top 40px
  margin-bottom 40px
  h2
    font-size 1.5em
  .puzzle
    margin-top 15px
.dimensions
  .dimension
    color white
    display flex
    h2
      font-size 1.2em
      font-weight bold
      margin-top 15px
      margin-bottom 15px
    .vision,
    .competence,
    .content,
    .infra
      padding 20px 20px 40px
    .vision
      background-color #ffdd00
    .competence
      background-color #e62270
    .content
      background-color #008bbc
    .infra
      background-color #85c440
