@import '../../variables.styl';

.container
  height 70vh

.followup_container
  padding 0 30px
  padding-top 20px

.section
  background none
  padding-left 10px

.highlighted
  font-weight bold
  margin-bottom 10px

.header__title_stripe
  background-color $primary-color
  width 50%
  height 4px
  margin 20px 0

.header__holder
  float left

.header__holder ~ p
  float left

@media(max-width 700px)
  .header__holder, .header__holder ~ p
    float initial

.form
  padding 0 80px

.remove
  color red
  text-align right;

.add
  margin-top 10px;
  margin-bottom 20px;
  text-align right;

.form__label
  color #69707a

.form__select
  width 100%

  select
    width 100%
    border-radius 30px
    color #69707a

.form__radio
  input[type='radio']
    outline none
    margin-right 10px

  input:checked:before
    background green !important

.form__submit_button, .button_share
  margin-top 25px

.field
  margin 20px 0

.field__manager
  margin 20px 0
  margin-bottom 40px

.activitie__title
  font-size 16px
  font-weight 700

.divulgacao
  &.followup_container
    padding-top 10px
  h1
    margin-bottom 2rem
  .lista_materiais
    margin-bottom 2rem
    .material
      border-bottom 1px solid lightgray
      padding-bottom 0.5rem
    li
      margin-bottom 1rem

.single_check_box
  margin-top 25px
