.layout
  hr
    margin-top 0

  .description
    font-size 1.1em
    p, li, div
      margin-bottom 0.5rem

  .sectionTitle
    padding 1rem
    margin-bottom 1.5rem

  .visaoTitle
    background-color #ffdd00

  .compTitle
    background-color #e62270
    color white

  .crdTitle
    background-color #008bbc
    color white

  .infraTitle
    background-color #85c440

  .pedagogicaTitle
    background #6d0f59
    color #ffffff

  .cidadaniaDigitalTitle
    background #068587
    color #ffffff

  .devProfissionalTitle
    background #4198df
    color #ffffff
