@import '../../variables.styl';

.buttons
  display flex
  justify-content flex-end
  gap 6px
  button
    font-size 1.0rem
    border-radius $btn-border-radius-base

@media screen and (min-width: 768px)
  .divider_option
    border-right 1px solid lightgray

  .width_smaller
    width 20%

  .width_larger
    width 80%

.guest
  background-color white
  box-shadow 1px 2px 3px rgba(0,0,0,0.2)
  border-radius 5px
  padding 5px 10px
  margin-bottom 10px

.tutor
  color black
  font-size 15pt
  margin-bottom 2em
  cursor pointer

.pulse_loader
  display inline-block

.box_main
  background-color #ffffff
  padding: 30px 60px

.history
  background-color $lightest-grey
  padding 30px
  .access_link
    display flex
    align-items center

.resources
  min-height 50vh
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center

  @media screen and (max-width: 850px)
    flex-direction column

.resources__image
  height 90px

  @media screen and (max-width: 850px)
    height 100px

.resources__buttons
  display flex
  flex-direction column

.resources__buttons__button
  align-items center
  justify-content flex-start
  padding 20px
  font-size 0.8rem
  font-weight bold
  margin 10px
  text-transform uppercase
  white-space normal
  .with_icon
    display flex
    align-items center
    justify-content space-evenly
    width: 100%

.alert
  padding 0.75rem 1.25rem
  margin-bottom 1rem
  border 1px solid transparent
  border-radius 0.25rem
  background-color #f2dede
  border-color #faf2cc
  color #ff180c
  border-top-color #f7ecb5

.gestor
  padding 0.75rem 1.25rem
  margin-bottom 1rem
  border 1px solid transparent
  border-radius 0.25rem
  border-top-color #f7ecb5
  background-color #d9edf7
  border-color #bcdff1
  color #31708f

.alert hr
  border-top-color #f7ecb5

.container__main__admin
  text-align top

.column__description
  padding 10px 20px

.subcontainer
  display flex
  width 100%
  justify-content: space-around
  align-items center

.container__description
  padding 15px 10px
  font-size 14px
  background-color #efefef
  margin -15px 25px 25px 25px

.content__title
  font-size 18px

.content__title__obs
  font-size 12px

.school_title
  padding 5px
  text-align center
  display flex
  h2
    font-size 18px
    font-weight 700
    padding: 5px 15px;
  button
    margin 0px 20px
    font-size 0.8rem

.section
  padding-top 0
  .header__surveys
    padding-top 0.5rem!important
    padding-bottom 0.5rem!important

.header__surveys
  align-content center
  .school__name
    font-size 1.2em
    text-transform uppercase
    font-weight bold
    span
      font-weight normal

.terms_of_use
  margin-top 20px
  height 210px
  overflow-y scroll
  border 1px solid #eee
  padding 10px 20px 20px 10px
  color gray
  text-align justify
  header
    p
      flex-shrink 1
      font-size 1.4rem
      line-height 1.3
      text-align center
  ol
    counter-reset item
    margin-top 10px
    padding-inline-start 15px
  li
    display block
    margin-bottom 20px
    &:before
      margin-right 5px
      content counters(item, ".") " "
      counter-increment item

.distribute_columns
  table-layout fixed

.accordion__item
  border-bottom 10px solid transparent

  &:last-child
    border-bottom 0

  .accordion__title
    cursor pointer
    color $accordion-title-color
    background $accordion-title-bg
    padding $accordion-title-padding
    border-width $accordion-title-border-width
    border-style $accordion-title-border-style
    border-color $accordion-title-border-color
    border-radius $accordion-title-border-radius

    &[aria-selected="true"]
      .accordion__header
        .arrow
          transform rotate(180deg)

    .accordion__header
      display flex
      align-items center

      .arrow
        width 14px
        margin-right 15px
        transition all .3s ease-out

      .accordion__name
        font-weight bold
        font-size 1.2em

      .accordion__description
        font-style italic

  .accordion__body
    background $accordion-body-bg
    padding $accordion-body-padding
    border-width $accordion-body-border-width
    border-style $accordion-body-border-style
    border-color $accordion-body-border-color
    border-radius $accordion-body-border-radius


.survey__answers
  h1
    font-size 1.2em
    font-weight bold
    margin-bottom 20px
  table
    border 1px solid #A7A9AB
    thead
      background-color #e8e8e8


.dimension
  .mt_5
    margin-top 1.5rem
  .pb_5
    padding-bottom 1.5rem
  h1
    font-size 1.5rem
    text-transform uppercase
    font-weight bold
    margin-bottom 1rem
  .question
    h2
      font-weight bold
      margin-bottom .5rem
      font-style italic
    .obs
      margin-bottom 1rem
    .option
      &:last-child
        border-bottom 0
        padding-bottom 0
        margin-bottom 0
      &.selected
        border-bottom 0
        color black
        background-color rgba(56, 211, 63, 0.27)
        padding 5px 8px
        display flex
        i
          margin-top 4px
          margin-right 8px
      color gray
      border-bottom 1px dotted lightgray
      padding-bottom .2rem
      margin-bottom .2rem
    .teacher_group
      &:nth-child(1)
        border-right 1px solid lightgray
      &:nth-child(3)
        border-top 1px solid lightgray
        border-right 1px solid lightgray
      &:nth-child(4)
        border-top 1px solid lightgray
