th.sorting-field:after
  content ''
  position absolute

th.sorting_field.sorting_field__asc:after
  content '↑'
  margin-left 5px

th.sorting_field.sorting_field__desc:after
  content '↓'
  margin-left 5px

span.followup__info__table_obs_td
  &:hover:after
    opacity 1

  &:after
    opacity 0
    content 'Editar'
    cursor pointer
