@import '../../variables.styl';

.footer
  background-color $footer-bg-color
  padding 50px 30px
  border-top 1px solid #eeeeee
  font-size 0.9em
  color $color-edutec-logo-2

  p, strong
    color $color-edutec-logo-2

  a
    color $primary-color
    font-weight normal
    &:hover,
    &:focus
      color $medium-grey!important

  .policy_links
    text-align right
    a:not(:first-child)
      margin-left 2rem
    

  .copyright
    font-size 0.9em
    color $medium-grey

  
