.content
  .title
    margin-top 0.1em
    margin-bottom 0.4em

  .subtitle
    font-size 0.9rem

  .type
    font-size 7px
    letter-spacing 0.1em

  .type.ferramenta
    background-color #c66cf9

  .type.conceito
    background-color #834731

.disabled
  opacity 0.3
  a.link
    pointer-events none
    cursor default
