// .layout
//

.buttons
  display flex
  gap 15px


.collapseBody
  display flex
  flex-direction column
  gap 20px

.table
  width 100%
  border 2px solid $primary-color

  th, td
    padding 10px
    border 1px solid #d3d3d3
  th
    width 150px


.btnDownload
   font-weight 400
.devolutive__title
    color #69707a

.form
  padding 0 80px

.form__label
  color #69707a

.form__select

  select
    width 100%
    border-radius 30px
    color #69707a

.form__radio
  input[type='radio']
    outline none
    margin-right 10px

  input:checked:before
      background green !important

.form__submit_button, .button_share
  margin-top 25px

.h1
  font-size 20px

.div_dashboard
  border 1px solid

.div
  display inline-block
  width 20%

.div_size
  width 100%

.margin_bottom
  margin-bottom 10px

.margin_top
  margin-top 10px

.border
  border 1px solid

.title
  text-align center;
  font-size 2.0rem
  background-color #131d3c
  color white

.border_bottom
  border-bottom 1px solid

.border_top
  border-top 1px solid

.section
  margin-top 20px
  margin-bottom 20px

.padding_tableline
  padding 10px

.text_align_center
  text-align center

.div_line
  display inline-block
  width 14%

.table_title
  font-weight bold
  display flex
  align-items flex-end
  justify-content space-around




// Painel diagnostico



.container_table
  overflow auto
  max-height 500px

.last_container
  margin-bottom 5rem

h1.inside
  font-size 1.4em
  font-weight bold
  text-transform uppercase
  margin-top 30px

h2
  font-size 1.2em
  font-weight bold
  margin 10px 0
  .loading
    margin-left 12px
    font-size 1em

hr
  margin-bottom 30px

.cursor_default
  cursor default

.less
  background-color #ff0042!important
  color #ffffff
  strong
    color #ffffff

.first_column
  padding-left 0

.container
  margin-top 2rem
  margin-bottom 2rem
  .is_active
    a
      background-color #f7f7f7!important

  .card
    margin-bottom 2rem
    .campos
      display flex
      align-items center
      .label
        margin-right 10px
        &.label:not(:first-child)
          margin-left 10px
    .btn
      margin-left 1rem

