// Variables
$yellow = #FFDD00
$pink = #E62270
$blue = #008BBC
$green = #85C440
$grey = #d1d2d4
$grey-font = #5b5c5d
$dark-blue = #131D3C
$light-grey = #d8d8d8
$lightest-grey = #f9f9f9
$medium-grey = #aaaaaa

// Colors
$primary-color = #85C440
$primary-1 = #fafff0
$primary-2 = #f2f7e9
$primary-3 = #daebbe
$primary-4 = #bdde90
$primary-5 = #a1d166
$primary-6 = #85c440
$primary-7 = #639e2c
$primary-8 = #45781c
$primary-9 = #2b520f
$primary-10 = #152b07

$secondary-color = #131d3c

// Logo
$font-family-edutec-logo-1 = MadaniArabicBold, sans-serif
$color-edutec-logo-1 = $primary-color
$border-color-edutec-logo-1 = #ffffff
$home-border-color-edutec-logo-1 = #ffffff
$font-family-edutec-logo-2 = NeometricAltLight, sans-serif
$color-edutec-logo-2 = #ffffff
$home-color-edutec-logo-2 = #131d3c

$logo-home-header-secondary-display = none

$logo-footer-secondary-display = none

// Base
$font-family = "Lato", "Calibri", "Helvetica", "Arial", sans-serif
$border-radius-base = 8px
$border-width-base = 1px
$border-style-base = solid

//Button
$btn-border-radius-base = 17.5px
$btn-border-width = $border-width-base
$btn-border-style = $border-style-base

//Profile
$profile-border-radius = 0
$profile-border-width = 1px 1px 3px 1px;
$profile-border-style = $border-style-base;
$profile-border-color = #dedede #dedede $primary-color #dedede

//NavNonUser
$nav-non-user-bg-color = $secondary-color
$nav-non-user-text-color = #ffffff
$nav-non-user-box-shadow = 0 2px 10px rgba(0, 0, 0, 0.1)

//FormWhiteWrap
$form-white-wrap-border-radius = 0
$form-white-wrap-border-width = 0;
$form-white-wrap-border-style = $border-style-base;
$form-white-wrap-border-color = #F1EAB2
$form-white-wrap-box-shadow = 0 2px 5px rgba(0, 0, 0, 0.2)

//NavNonUser
$structure-bg-color = #011e3a
$structure-text-color = #ffffff
$structure-text-color-header = #ffffff
$structure-amount-number-bg-color = #ffffff
$structure-amount-number-text-color = #011e3a

//Tab
$tab-bg-color = #ffffff
$tab-text-color = $primary-color
$tab-text-color-hover = $primary-5

$tab-bg-color-active = #ffffff
$tab-text-color-active = #011e3a

$tab-bg-color-dark = #ffffff
$tab-text-color-dark = $primary-color
$tab-text-color-dark-hover = $primary-5

$tab-bg-color-dark-active = #ffffff
$tab-text-color-dark-active = $primary-color

//Survey From
$survey-bg-color = #f2f2f2
$survey-padding = 30px 0 0

// Quetion
$quetion-bg-color = #ffffff
$quetion-padding = 30px
$quetion-border-radius = 0
$quetion-border-width = 0
$quetion-border-style = $border-style-base
$quetion-border-color = #e5e8ed

$question-options-number-font-size = 70px
$question-options-number-margin = 0 30px 0 0
$question-options-number-color = $primary-4

$question-options-padding = 20px 0px 0px 128px

$question-buttons-justify-content = space-between

$pedagogica-color = #6d0f59
$cidadania-digital-color = #068587
$dev-profissional = #4198df

$survery-question-title-border-radius = 0
$survery-question-title-padding = 0
$survery-question-title-margin = 0

$survery-question-title-h1-font-size = 1.2em
$survery-question-title-h1-padding = 0
$survery-question-title-h1-margin = 0
$survery-question-title-h1-border-width = 0
$survery-question-title-h1-border-style = solid
$survery-question-title-h1-border-color = $primary-color
$survery-question-title-h1-display = none

// Pedagoria
$survery-question-pedagogica-title-bg = transparent
$survery-question-pedagogica-title-border-width = 0
$survery-question-pedagogica-title-border-style = solid
$survery-question-pedagogica-title-border-color = $primary-color
$survery-question-pedagogica-title-color = $secondary-color

// Cidadania Digital
$survery-question-cidadania-digital-title-bg = transparent
$survery-question-cidadania-digital-title-border-width = 0
$survery-question-cidadania-digital-title-border-style = solid
$survery-question-cidadania-digital-title-border-color = $primary-color
$survery-question-cidadania-digital-title-color = $secondary-color

// Dev Profissional
$survery-question-dev-profissional-title-bg = transparent
$survery-question-dev-profissional-title-border-width = 0
$survery-question-dev-profissional-title-border-style = solid
$survery-question-dev-profissional-title-border-color = $primary-color
$survery-question-dev-profissional-title-color = $secondary-color

// Accordin title
$accordion-title-bg = #eaeaea
$accordion-title-color = #4a4a4a
$accordion-title-padding = 10px 20px
$accordion-title-border-width = 1px
$accordion-title-border-style = solid
$accordion-title-border-color = #cecece
$accordion-title-border-radius = 0

// Accordin body
$accordion-body-bg = #ffffff
$accordion-body-padding = 35px 25px
$accordion-body-border-width = 0 1px 1px 1px
$accordion-body-border-style = solid
$accordion-body-border-color = #cecece
$accordion-body-border-radius = 0

// Mainborad
$mainboard-bg = #ffffff
$mainboard-color = $secondary-color
$mainboard-padding = 0

// Navbar-config
$navbar-config-bg = $primary-color
$navbar-config-bg-hover = $primary-7
$navbar-config-color = #ffffff

$mainboard-card-box-shadow = 0 6px 10px rgba(0, 0, 0, 0.1)
$mainboard-card-border-radius = 10px
$mainboard-card-border-width = 0
$mainboard-card-border-style = solid
$mainboard-card-border-color = #cccccc

// Card
$mainboard-card-footer-bg = #ffffff
$mainboard-card-footer-border-width = 0
$mainboard-card-footer-border-style = solid
$mainboard-card-footer-border-color = $primary-color

$mainboard-card-footer-p-padding = 0 1.5rem 1.5rem 1.5rem
$mainboard-card-footer-p-display = flex
$mainboard-card-footer-p-justify-content = flex-start

$mainboard-card-footer-p-a-bg = $primary-color
$mainboard-card-footer-p-a-display = block
$mainboard-card-footer-p-a-padding = 10px 20px
$mainboard-card-footer-p-a-border-radius = 15px
$mainboard-card-footer-p-a-color = #ffffff

$mainboard-card-footer-p-a-bg-hover = $primary-7
$mainboard-card-footer-p-a-color-hover = #ffffff

// Products
$products_container-bg = #f9f9f9
$products_container-margin = 30px 0 0
$products_container-padding = 30px

$products-column-width = 50%
$products-column-media-screen-max-width = 768px

$products-visao-bg = $yellow
$products-visao-color = #ffffff

$products-formacao-bg = $pink
$products-formacao-color = #ffffff

$products-red-bg = $blue
$products-red-color = #ffffff

$products-infra-bg = $green
$products-infra-color = #ffffff

$footer-bg-color = $secondary-color
$footer-text-color = #ffffff

// Resources
$step-color-text-number = $primary-4
